.able{
    width:30%;
    
}

.h2-able{
    width: 236px;
    height: 28px;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    color: #4338CA;
}

.p-able{
    padding-top: 28px;
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #6B7280;
}

