.profile {
    padding-left: 125px;
    padding-right: 175px;
    padding-top: 42px;
    max-height: 355px;
}

.profile-title{
    width: 150px;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color:#1F2937;
}

.profile-container{
    padding-top: 39px;
    display: flex;
    flex-wrap: wrap;
}

.profile-container-small{
    width: 41%;
}

.profile-p{
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
}

.profile-p1{
    width: 155.65px;
    height: 180px;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #000000;
}

.profile-p2{
    width: 231.8px;
    height: 180px;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.01em;
    color: #000000;
}



.h3-1{
    width:137.09px;
    font-weight: 500;
    font-size:30px;
    height: 28px;
    line-height: 28px;
    color:#4338CA;
}

.aboutme h3{
    width: 59%;
    max-width:576.9px;
    height: 24.42px;
    font-weight: 500;
    font-size:30px;
    line-height: 28px;
    color:#4338CA;
}

.aboutme p{
    padding-top:14.58px; 
    width:558.41px;
    height: 143px;
    font-weight: 400;
    font-size:18px;
    line-height: 150%;
    color:#6B7280;
}