.projects{
    padding-left: 125px;
    padding-right: 175px;
    padding-top: 42px;
}

.projects .div-h1 {
    width: 191px;
    height: 48px;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}

.projects-container{
    padding-left: 125px;
    padding-right: 175px;
    padding-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 114px;
}