.skills {
    padding-left: 125px;
    padding-right: 175px;
    padding-top:124px;
}

.skills .div-h1{
    font-size:48px;
    color:#1F2937;
    width: 1039px;
    height: 64px;
    font-weight: 600;
    line-height: 48px;
}

.skills-container {
    padding-left: 125px;
    padding-right: 175px;
    padding-top: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-cizgi{
    border:1px solid #BAB2E7;
    width: 1134.08px;
    margin-top: 42px;
}